#status_10	{
	background-color: #ef2929;
	}
#status_15	{
	background-color: #75507b;
	}
#status_30	{
	background-color: #f57900;
	}
#status_40	{
	background-color: #fce94f;
	}
#status_50	{
	background-color: #729fcf;
	}
#status_80	{
	background-color: #8ae234;
	}
#status_85	{
	background-color: #8f8c70;
	}
#status_90	{
	background-color: #babdb6;
	}